@import "tailwindcss";

@theme {
  /* v4 detecta automáticamente el prefijo --font-* y crea la clase font-title */
  --font-title: "Cormorant Garamond", serif;
  
  /* Crea automáticamente la clase font-body */
  --font-body: "Plus Jakarta Sans", sans-serif;

}

@source "../node_modules/flowbite-react/dist/esm/**/*.js";

html {
  scroll-behavior: smooth;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
.animate-marquee {
  animation: marquee 18s linear infinite;
}